<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda de productos</title>
</head>
<body>
    <h1>Contáctanos</h1>
    <form action="/contacto/" method="POST" > {% csrf_token %}
        <p>Asunto: <input type="text" name="subject_cont"> </p>
        <p>Email: <input type="text" name="email_cont"> </p>
        <p>Mensaje: <textarea name="msg_cont" id="" cols="30" rows="10"></textarea> </p>
        <input type="submit" value="Enviar" >
    </form>


</body>
</html>